body{
    font-family: 'Times New Roman' !important;
    line-height: 1.6rem;
    letter-spacing: .5px;
}


.secondNav{
    padding-left: 105px;
    padding-right: 105px;
}

.me-auto{
    margin-left: auto !important;
}

.me-auto{
    margin-right:unset!important;
}

.navbar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color:red;
    font-size: 17px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 30px;
}

.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 2px solid black;
    color: red;
}

.navbar-light .secondNav .navbar-nav .nav-link.active{
    border-bottom: 2px solid black;
    color: red;
}

/*trusted*/
/*2nd div*/

@media (max-width: 768px)
{#sec{
    min-height:470px;
}}

/*left side content*/
#sec{
    background-color: #88878712;
    padding-top: 130px;
    padding-bottom: 100px;
}



#sectxt{
    margin-top: 40px;
    padding-left: 50px;
    position: relative;
}

#sectxt h1{
    color: red;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 5px;
    text-align: center;
}

.head2{
    color: red;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
    text-align: left;
}

.col-10{
    text-align: center;

}

@media (min-width: 768px)
{#sectxt{
    text-align:left !important
}}


/*hover effect*/

#content{
    margin-top: 20px;
    text-align: center !important;
}


/*right side content*/
.secimgs .img-fluid{
    margin-top: -25px;
    padding-left: 0px;
    max-width: 100%;
    border: 2px solid red;
}

@media (max-width: 1000px)
{.secimgs .img-fluid {
    margin-top: -40px;
    max-width: 110%;
}}

.size{
    height: 500px !important;
}

.bttn{
    background-color: red;
    color: white;
    position: relative;
    font-size: 15px;
    padding: 7px;
    border: none;
    left: 200px;
    margin-top: 10px;

}

.bttns{
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 7px;
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;

}

.bttns:hover{
    background-color: #ea3232;
}

.para{
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
    font-size: 20px;
}

.foot{
    background-color: #324050;
}



/*Last Div*/
.last{
    padding-top: 80px;
    padding-bottom: 60px;
}

.lastdiv{
    margin-bottom: 20px;
}

.socialIcon {
    margin-right: 1rem;
    font-size: 1.5rem !important;
    cursor: pointer;
    border: 2px solid white;
    padding: 8px;
    color: white !important;
}

.lastdiv ul li {
    list-style-type: none;
    display: inline-block;
}

.socialIcon:hover {
    color: #5692ac !important;
}

.first{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #ea3232;
}

.second{
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
}

.pagination{
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li{
    display: inline;
}

.pagination a {
    color: #ff0000;
}

.pagination a:hover{
    color: white;
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover {
    position: relative;
    background-color: red; 
}

.pagination > li > a.active {
    position: relative;
    background-color: #7b7bc3; 
}

.pagination > li:first-child > a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a {
    margin-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

hr {
    margin: 0rem 0;
    color: inherit;
    background-color: black;
    border: 0;
    opacity: .25;
}
